<head>
	<style type="">
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h2>Profile of {{ username }}</h2>
	<h3>Favorite Color:</h3>
	<p>{{ user["color"] }}</p>
	<h3>Favorite Things:</h3>
	<ul>
	{% for thing in user["things"] %}
		<li>{{ thing }}</li>
	{% endfor %}
	</ul>
	{% if user["messages"] %}
		<table>
			<tr>
				<th>Message Time</th>
				<th>Message Text</th>
			</tr>
			{% for time, message in user["messages"].items() %}
				<tr>
					<td>{{ time }}</td>
					<td>{{ message }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<a href="{{ url_for('user_list') }}">User List</a>
</body>
